[submodule "server-ux"]
	path = server-ux
	url = https://github.com/OCA/server-ux.git
	branch = Sub-Modules
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = Sub-Modules
